<!DOCTYPE html>
<html lang="en">

<%- include('Common/head.ejs')%>

<body>
   <%- include('Common/header.ejs')%>
   <!-- Page Header-->
   <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
      <div class="container position-relative px-4 px-lg-5">
         <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
               <div class="site-heading">
                  <h2>Clean Blog register</h2>
                  <span class="subheading">A Blog Theme by Start Bootstrap</span>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- Main Content-->
   <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
         <div class="my-5">
            <h1>User Register</h1>
           
            <p style="background-color: rgb(122, 203, 244);"><%= message %></p>
            <form action="/register/create" method="post" enctype="multipart/form-data">
               <div class="form-floating">
                  <input class="form-control" name="name" id="name" type="text" placeholder="Enter your name..."
                     data-sb-validations="required" />
                  <label for="name">Name</label>

               </div>
               <div class="form-floating">
                  <input class="form-control" name="email" id="email" type="email" placeholder="Enter your email..."
                     data-sb-validations="required,email" />
                  <label for="email">Email address</label>

               </div>
               <div class="form-floating">
                  <input class="form-control" name="phone" id="phone" type="tel" placeholder="Enter your phone number..."
                     data-sb-validations="required" />
                  <label for="phone">Phone Number</label>
                  <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
               </div>
               <div class="form-floating">
                  <input class="form-control" name="password" id="password" type="password" placeholder="Enter your password..."
                     data-sb-validations="required" />
                  <label for="password">Password</label>
                  <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>
               </div>
               <div class="form-floating">
                  <input class="form-control" name="image" type="file" placeholder="Enter your image"/>
                  
               </div>

               <br />

               <!-- Submit Button-->
               <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Register</button>
            </form>
         </div>
      </div>
   </div>
   <%- include('Common/footer.ejs')%>
   <!-- Bootstrap core JS-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
   <!-- Core theme JS-->
   <script src="js/scripts.js"></script>
</body>

</html>
